/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    pb{
        font-size:1.2rem;
    }


    .texteintro h5{
        font-size: 1rem;
        margin-top: -2rem;
        margin-left: -1rem;
    }
    
    .texteintro h4{
        font-size: 1rem;
        margin-left: -1rem;
    }
    .col{
        margin-top:10%;
        margin-bottom: 10%;
    }

    .intro1{
        height:50vh;
        background-image: none;
    }

    .imglogo{
        display: none;
    }

    .navigation{
        margin-left: 5rem;
    }

    .navbar{
        margin-left: 10%;
    }

    .tarte{
        margin-top: 10%;
    }

    .crique{
        margin-left:0%;
    }

    .imgcrique{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .divrecetteintro p{
        font-size: 200%;
    }

    .divrecetteintro h4{
        font-size: 170%;
    }

    .contact p{
        font-size: 70%;
        text-align :center;
    }
     
    .ideerecetterepas{
        height:120%;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .col-3{
        display: block;
        width:80%
    }

    .col{
        margin-top:10%;
        margin-bottom: 10%;
    }


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .intro1{
        /*background-image: none;*/
        height:70vh;
    }

    .imglogo2{
        display:none;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .container{
        width:100vw;
    }

}


